In [216]:
import pandas

In [6]:
import pandas as pd
import numpy as np
import re 
import sys
path1="../ans/task2/other/2018-2019task2-1.xlsx"
path2="../ans/task2/other/2020-2021task2-1.xlsx"

In [7]:
df2018= pd.read_excel(path1,sheet_name=0)
df2019= pd.read_excel(path1,sheet_name=1)
df2020= pd.read_excel(path2,sheet_name=0)
df2021= pd.read_excel(path2,sheet_name=1)

In [8]:
df1=pd.concat([df2018,df2019],ignore_index=True)
df2=pd.concat([df2020,df2021],ignore_index=True)
df=pd.concat([df1,df2],ignore_index=True)

In [9]:
df.drop_duplicates(keep='first',inplace=True,ignore_index=True)
df.drop('语料',axis=1,inplace=True)

In [10]:
df.dropna(inplace=True)

In [11]:
tempdf=(df.sort_values(by='产品名称'))
tempdf.drop_duplicates(keep='first',inplace=True,ignore_index=True)

In [145]:
tempdf.to_excel('temp1.xlsx',index=False)

In [13]:
tempdf

             语料ID   产品名称
0     景区评论ID-2169  —渔港公园
1     餐饮评论ID-6607    一两次
2     景区评论ID-2000   一二百元
3       游记ID-1104   一分钟元
4     景区评论ID-1088    一分钱
...           ...    ...
2944    游记ID-1025    龙舟赛
2945    游记ID-1031    龙舟赛
2946    游记ID-1009    龙虎山
2947    游记ID-1083    龙虾馆
2948    游记ID-1031    龟心园

[2949 rows x 2 columns]

In [64]:
temp=df.drop('语料ID',axis=1)
temp.drop_duplicates(inplace=True,ignore_index=True)
temp

         产品名称
0      奥尔良西多士
1         东南亚
2       十万九千七
3         清江鱼
4        美团美团
...       ...
1651  高州市人民政府
1652   广东省文管会
1653      周家宅
1654      发祥寺
1655      茂名界

[1656 rows x 1 columns]

In [14]:
df= pd.read_excel('temp1.xlsx')

In [18]:
df

             语料ID          产品名称
0       游记ID-1018         七星谷元洲
1       游记ID-1014         七星谷元洲
2       游记ID-1019         七星谷元洲
3     景区评论ID-2125        七海旋律餐厅
4       游记ID-1018  万亩沉香林为绿色生态区被
...           ...           ...
2803    游记ID-1025           龙舟赛
2804    游记ID-1031           龙舟赛
2805    游记ID-1009           龙虎山
2806    游记ID-1083           龙虾馆
2807    游记ID-1031           龟心园

[2808 rows x 2 columns]

In [30]:
prod_id={}
for name in df['产品名称']:
    prod_id[name]=df[df['产品名称']==name].index.tolist()[0]+1

In [33]:
len(set(prod_id))

1741

In [31]:
len(prod_id)

1741

In [19]:
df['产品ID']=0
newdf=df.drop('产品名称',axis=1)
newdf['产品名称']=df['产品名称']
df=newdf

In [20]:
#提取 已有名称
path="../dataset/2020-2021茂名（含自媒体）.xlsx"
#酒店
df_hotel= pd.read_excel(path,sheet_name=0)
newdf_hotel=pd.read_excel(path,sheet_name=0)
newdf_hotel.drop({"城市","评论日期","入住房型"},axis=1,inplace=True)
#景区
df_jingqu= pd.read_excel(path,sheet_name=1)
newdf_jingqu=pd.read_excel(path,sheet_name=1)
newdf_jingqu.drop({"城市"},axis=1,inplace=True)
#餐饮评论
df_eat= pd.read_excel(path,sheet_name=3)
newdf_eat=pd.read_excel(path,sheet_name=3)
newdf_eat.drop({"城市","标题"},axis=1,inplace=True)

In [21]:
#对于除游记以外的名称要去除括号内的内容
def rm_kuohao(s):
    #str = u"你（你）在[在]干{干}嘛【嘛】"
    result = re.sub(u"\\（.*?）|\\{.*?}|\\[.*?]|\\【.*?】", "", s.encode('utf-8').decode())#全角括号
    result = re.sub(u"\\(.*?\\)|\\{.*?}|\\[.*?]", "", result)#半角括号
    return result
#繁体转换为简体
from langconv import *
 
# 繁体转简体
def TraditionalToSimplified(content):
    line = Converter("zh-hans").convert(content)
    return line

In [22]:
df_list={'酒店名称':newdf_hotel,'景区名称':newdf_jingqu,'餐饮名称':newdf_eat}
for key in df_list:
    for row in range(len(df_list[key])):
        (df_list[key]).iloc[row,1]=rm_kuohao((df_list[key]).iloc[row,1])
        (df_list[key]).iloc[row,1]=TraditionalToSimplified((df_list[key]).iloc[row,1])

In [23]:
newdf_hotel

,酒店评论ID,酒店名称,评论内容,入住日期
0,1395,茂名海豚酒店,一如既往的好，性价比高,2020-01-01
1,1396,城市便捷酒店,环境很好，离油校很近，宵夜方便！,2020-01-02
2,1397,维也纳国际酒店,酒店很干净，不收取押金是对客人的尊重，赞一个。,2020-01-03
3,1398,茂名熹龙国际大酒店,五星好评，越来越喜欢熹龙了。酒店我住了有10年了，近一两年来每次入住，即使我没定有早餐的，也...,2020-01-04
4,1399,茂名万达广场雅斯特国际酒店,环境舒适，实木家具，宽敞明亮,2020-01-05
...,...,...,...,...
694,2089,凯里亚德酒店,酒店位置和环境都不错，而且非常新！,2021-11-27
695,2090,丽枫酒店,kf 服务：客房服务态度好 很认真,2021-11-28
696,2091,茂名观海楼假日酒店,酒店有专属停车场，停车方便，房间挺大，风景挺好，下楼就是沙滩,2021-11-29
697,2092,茂名御景国际大酒店,酒店在电白来说比较高档环境还可以 出行方便 交通：方便停车免费停车挺好的 免费健身房可以游...,2021-11-30
698,2093,哈曼酒店,服务卫生都挺好的3333下次过来再来,2021-12-01

In [24]:
tempans=pd.DataFrame()
for com_id in newdf_eat['餐饮评论ID']:
    entity=newdf_eat[newdf_eat['餐饮评论ID']==com_id].iloc[0,1]
    tempans=tempans.append({'语料ID':('餐饮评论ID-'+str(com_id)),'产品名称':entity},ignore_index=True)

NameError: name 'tempans' is not defined

In [195]:
tempans.drop_duplicates(inplace=True)

In [196]:
df=tempans.copy()

In [202]:
df['产品ID']=0

In [205]:
for row in range(len(df)):
    df.iloc[row,1]=prod_id[df.iloc[row,2]]

In [206]:
df.sort_values(by='产品ID',ignore_index=True,inplace=True)

In [213]:
df.to_csv('../ans/task2/result2-1.csv',index=False,encoding='utf_8_sig')

In [179]:
tempans=df.copy()

In [27]:
df=pd.read_csv('../ans/task2/result2-1.csv')

In [29]:
df['产品ID']=0

In [34]:
df

             语料ID  产品ID    产品名称
0     餐饮评论ID-1039     0  奥尔良西多士
1     餐饮评论ID-1144     0   十万九千七
2     餐饮评论ID-1156     0     清江鱼
3     餐饮评论ID-1157     0    美团美团
4     餐饮评论ID-1173     0     旺角亭
...           ...   ...     ...
9828    游记ID-1293     0     茂名界
9829    游记ID-1293     0     鹅凰嶂
9830    游记ID-1294     0     仙人洞
9831    游记ID-1294     0   仙人阁山庄
9832    游记ID-1294     0     耀新村

[9833 rows x 3 columns]